<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />    
    <script src="@Url.Content("~/Scripts/jQuery/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/otherJs/base64.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/otherJs/guid.js")" type="text/javascript"></script>
</head>

<body>
    <h1>Yeah</h1>
    @RenderBody()
</body>
</html>

